


  @media only screen and (max-height:500px){
    
    .login_nav{
        display: none;
    }

    .signup_nav {
        display: none;
    }
    #signup_loco_icon{
        display: none;
    }
    .btn{
      margin-bottom:22px;
    }

  }